<h1>Posts</h1>
<%= link_to "new Post", new_post_path %>
<ul>
  <% @posts.each do |post| %>
    <li>
    <%= post.title %>
      <%= link_to "show", post_path(post) %>
      <% if post.author?(current_user) %>
      <%= link_to "edit", edit_post_path(post) %>
      <% end %>
    </li>
  <% end %>
</ul>
